* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Geneva, "Segoe UI", Tahoma, Verdana, sans-serif;
  color: rgb(226, 226, 226);
}

body {
  min-height: 100vh;
  background: white;
}

#backgroundGradient {
  position: fixed;
  width: 200%;
  height: 200%;
  object-fit: cover;
  filter: blur(1px);
  z-index: -1;
}

nav {
  padding: 20px;
}

#logo img {
  transition: 0.5s ease;
}

#logo img:hover {
  transform: rotate(45deg);
}

main {
  width: 90vw;
  margin: auto;
}

#designWork {
  margin: 30px auto 60px auto;
}

#designWork ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 25px;
}
#designWork ul li img {
  border-radius: 10px;
}

.gallery-image {
  width: 100%;
  display: block;
  cursor: pointer;
  filter: grayscale(1);
  transition: 0.6s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}

#webWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#webWork p {
  font-size: 1rem;
}

#webWork a {
  font-size: 1rem;
  transition: 0.6s ease;
}

#webWork a:hover {
  transform: rotate(15deg);
}

#contacts {
  width: 280px;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

#contacts img {
  transition: 0.5s ease;
}

#contacts img:hover {
  transform: rotate(45deg);
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 9999;
}

#lightbox.active {
  visibility: visible;
  opacity: 1;
}

#lightbox-img {
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
}

@media (max-width: 768px) {
  main {
    width: 95%;
  }

  #designWork ul {
    grid-template-columns: 1fr;
  }

  #webWork p {
    font-size: 1.5rem;
  }

  #lightbox-img {
    max-width: 95%;
    max-height: 85%;
  }
}
